
*.lock

prototype01/platforms/android/.gradle/2.2.1/taskArtifacts/fileHashes.bin

prototype01/platforms/android/.gradle/2.2.1/taskArtifacts/fileSnapshots.bin

prototype01/platforms/android/.gradle/2.2.1/taskArtifacts/taskArtifacts.bin

prototype01/platforms/android/.gradle/2.2.1/taskArtifacts/taskArtifacts.bin

prototype01/platforms/android/.gradle/2.2.1/taskArtifacts/fileSnapshots.bin
