
prototype01/platforms/android/.gradle/2.2.1/taskArtifacts/cache.properties

prototype01/platforms/android/.gradle/2.2.1/taskArtifacts/cache.properties

prototype01/platforms/android/.gradle/2.2.1/taskArtifacts/outputFileStates.bin
