.choser{

    width : 100%;
    background : red;
    position: absolute;

}

#container-exp{
    position : absolute;
    top : 0;
}

#header-exp{

    background : black;
    height: 50;

}

#header-exp{

	position: relative;
	margin-top: 0;
	background: gray;
	height: 80px;
	z-index: 2;

}

canvas{

	position: relative;


}