.choser{

    width : 100%;
    background : red;
    position: absolute;

}

#container-exp{
    position : absolute;
    top : 0;
}

#header-exp{

	position: absolute;
	margin-top: 0;
	height: 8%;
    width: 100%;
	z-index: 2;
    background: black;

}


#back{
    width : 120;
}


#score{

    height: 200%;
    right: 0;
    position: absolute;

}


#bar {
    height: 120%;
    width: 100%;
    position : absolute;
    margin-left: 0;
    z-index: -1
}

canvas{

    margin-top : 10%;


}
